# Ignore .env file containing sensitive information
.env
.env.test
# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment
.venv/
.venv-dream100/
.aider*
**/.DS_Store
.coverage
*.patch
*.db
