interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/customsearch/v1?q=Timothy+Sykes+website&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&cx=05ca554a39da44f32
  response:
    body:
      string: "{\n  \"kind\": \"customsearch#search\",\n  \"url\": {\n    \"type\":
        \"application/json\",\n    \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json\"\n
        \ },\n  \"queries\": {\n    \"request\": [\n      {\n        \"title\": \"Google
        Custom Search - Timothy Sykes website\",\n        \"totalResults\": \"1620000\",\n
        \       \"searchTerms\": \"Timothy Sykes website\",\n        \"count\": 10,\n
        \       \"startIndex\": 1,\n        \"inputEncoding\": \"utf8\",\n        \"outputEncoding\":
        \"utf8\",\n        \"safe\": \"off\",\n        \"cx\": \"05ca554a39da44f32\"\n
        \     }\n    ],\n    \"nextPage\": [\n      {\n        \"title\": \"Google
        Custom Search - Timothy Sykes website\",\n        \"totalResults\": \"1620000\",\n
        \       \"searchTerms\": \"Timothy Sykes website\",\n        \"count\": 10,\n
        \       \"startIndex\": 11,\n        \"inputEncoding\": \"utf8\",\n        \"outputEncoding\":
        \"utf8\",\n        \"safe\": \"off\",\n        \"cx\": \"05ca554a39da44f32\"\n
        \     }\n    ]\n  },\n  \"context\": {\n    \"title\": \"Trader research 2\"\n
        \ },\n  \"searchInformation\": {\n    \"searchTime\": 0.159841,\n    \"formattedSearchTime\":
        \"0.16\",\n    \"totalResults\": \"1620000\",\n    \"formattedTotalResults\":
        \"1,620,000\"\n  },\n  \"items\": [\n    {\n      \"kind\": \"customsearch#result\",\n
        \     \"title\": \"Timothy Sykes - Millionaire Penny Stock Trader\",\n      \"htmlTitle\":
        \"\\u003cb\\u003eTimothy Sykes\\u003c/b\\u003e - Millionaire Penny Stock Trader\",\n
        \     \"link\": \"https://www.timothysykes.com/\",\n      \"displayLink\":
        \"www.timothysykes.com\",\n      \"snippet\": \"Timothy Sykes is a millionaire
        penny stock trader and entrepreneur. He is best known for earning $1.65 million
        by day trading while attending Tulane\_...\",\n      \"htmlSnippet\": \"\\u003cb\\u003eTimothy
        Sykes\\u003c/b\\u003e is a millionaire penny stock trader and entrepreneur.
        He is best known for earning $1.65 million by day trading while attending
        Tulane&nbsp;...\",\n      \"formattedUrl\": \"https://www.timothysykes.com/\",\n
        \     \"htmlFormattedUrl\": \"https://www.\\u003cb\\u003etimothysykes\\u003c/b\\u003e.com/\",\n
        \     \"pagemap\": {\n        \"metatags\": [\n          {\n            \"msapplication-tilecolor\":
        \"#DA532C\",\n            \"og:image\": \"https://content.timothysykes.com/wp-content/uploads/2019/06/Conclusion-How-to-Read-Stock-Charts.jpg\",\n
        \           \"theme-color\": \"#FFFFFF\",\n            \"og:type\": \"article\",\n
        \           \"twitter:card\": \"summary_large_image\",\n            \"og:site_name\":
        \"Timothy Sykes\",\n            \"og:title\": \"Timothy Sykes : Millionaire
        Penny Stock Trader\",\n            \"og:description\": \"Timothy Sykes is
        a millionaire penny stock trader and entrepreneur. \\nHe is best known for
        earning $1.65 million by day trading while attending Tulane University.\",\n
        \           \"trustpilot-title\": \"Trustpilot Reviews - Timothy Sykes\",\n
        \           \"trustpilot-description\": \"Read reviews from our satisfied
        customers on Trustpilot.\",\n            \"twitter:site\": \"@timothysykes\",\n
        \           \"article:modified_time\": \"2022-04-18T07:17:16+00:00\",\n            \"viewport\":
        \"width=device-width, initial-scale=1\",\n            \"og:locale\": \"en_US\",\n
        \           \"og:url\": \"https://www.timothysykes.com/\"\n          }\n        ],\n
        \       \"cse_image\": [\n          {\n            \"src\": \"https://content.timothysykes.com/wp-content/uploads/2019/06/Conclusion-How-to-Read-Stock-Charts.jpg\"\n
        \         }\n        ]\n      }\n    },\n    {\n      \"kind\": \"customsearch#result\",\n
        \     \"title\": \"Timothy Sykes (@timothysykes) / X\",\n      \"htmlTitle\":
        \"\\u003cb\\u003eTimothy Sykes\\u003c/b\\u003e (@\\u003cb\\u003etimothysykes\\u003c/b\\u003e)
        / X\",\n      \"link\": \"https://twitter.com/timothysykes?lang=en\",\n      \"displayLink\":
        \"twitter.com\",\n      \"snippet\": \"I've turned $12k into $7.7 million
        trading stocks from 134 countries/building 120 schools, go apply at https://t.co/ZHoCqK0up1
        to be my dedicated student!\",\n      \"htmlSnippet\": \"I&#39;ve turned $12k
        into $7.7 million trading stocks from 134 countries/building 120 schools,
        go apply at https://t.co/ZHoCqK0up1 to be my dedicated student!\",\n      \"formattedUrl\":
        \"https://twitter.com/timothysykes?lang=en\",\n      \"htmlFormattedUrl\":
        \"https://twitter.com/\\u003cb\\u003etimothysykes\\u003c/b\\u003e?lang=en\",\n
        \     \"pagemap\": {\n        \"cse_thumbnail\": [\n          {\n            \"src\":
        \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIO13Vhuny5z7tCnsscmyjDDJZIuGTZK144lB7J55e6Ba8Obfi26uZo-g&s\",\n
        \           \"width\": \"200\",\n            \"height\": \"200\"\n          }\n
        \       ],\n        \"imageobject\": [\n          {\n            \"contenturl\":
        \"https://pbs.twimg.com/media/GVJW9a3WEAA7QQ9.png\",\n            \"width\":
        \"1473\",\n            \"caption\": \"Image\",\n            \"thumbnailurl\":
        \"https://pbs.twimg.com/media/GVJW9a3WEAA7QQ9?format=jpg&name=thumb\"\n          },\n
        \         {\n            \"contenturl\": \"https://pbs.twimg.com/media/GVICXFvaEAQLPrf.jpg\",\n
        \           \"width\": \"1920\",\n            \"caption\": \"Image\",\n            \"thumbnailurl\":
        \"https://pbs.twimg.com/media/GVICXFvaEAQLPrf?format=jpg&name=thumb\"\n          },\n
        \         {\n            \"contenturl\": \"https://pbs.twimg.com/media/GVHvOFBaEAIC6W0.jpg[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/customsearch/v1?q=Timothy+Sykes+facebook&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&cx=05ca554a39da44f32
  response:
    body:
      string: "{\n  \"kind\": \"customsearch#search\",\n  \"url\": {\n    \"type\":
        \"application/json\",\n    \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/customsearch/v1?q=Timothy+Sykes+twitter&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&cx=05ca554a39da44f32
  response:
    body:
      string: "{\n  \"kind\": \"customsearch#search\",\n  \"url\": {\n    \"type\":
        \"application/json\",\n    \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filte[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/customsearch/v1?q=Timothy+Sykes+youtube&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&cx=05ca554a39da44f32
  response:
    body:
      string: "{\n  \"kind\": \"customsearch#search\",\n  \"url\": {\n    \"type\":
        \"application/json\",\n    \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filte[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/customsearch/v1?q=Timothy+Sykes+linkedin&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&cx=05ca554a39da44f32
  response:
    body:
      string: "{\n  \"kind\": \"customsearch#search\",\n  \"url\": {\n    \"type\":
        \"application/json\",\n    \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/search?part=id%2Csnippet&channelId=UCoSG43KFjTe0trsteSQ46Ng&maxResults=50&type=video&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&alt=json
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAC/+Wd25LiSHqA7/cpcnrH03ZsUSNxpuZigjMUZxBQ4HUQQkokgU4lpaBgdyJ86Wvb
        934Qv42fwI/gzJSoyu6imV4q2VDgiYmabpAy/1Iqv/nP+Zc/APBpY9jqpwfwae8EKFjCP/pQ9hS9
        bfhoCH3XsX346Y5cB5Gskev8/kBcVOq[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/search?part=id%2Csnippet&channelId=UCoSG43KFjTe0trsteSQ46Ng&maxResults=50&type=video&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&alt=json&pageToken=CDIQAA
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAC/+WdWW7jSJqA3+sUUVmFWqYtJ0nt7oeEdsnad8uNhhEiQyLNVVwk0Y0C6gYzA/TL
        ADPoE8z7nKcuMH2EiQhKdnhJlVsODQh1opBlixT1iz/jy3+Pv3wDwCdds5RPV+BTaAd+MEffeQi6
        strSPH+APMe2PP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/search?part=id%2Csnippet&channelId=UCoSG43KFjTe0trsteSQ46Ng&maxResults=50&type=video&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&alt=json&pageToken=CGQQAA
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAC/92dy27rSJqg9/UUkVmJzmrUkQ9J3d2LhG6WdZd1tVQoGBQZEmmRDJoX3boTqGXv
        uoGuzQAzqM1sZz/Pky8w/QgTf1Cyw5ZTecoOFQgBxkmbIoO/GIwv/3v86+8Q+n5pOvr31+j7LQmD
        cIZ/72PV04ym6Q[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/search?part=id%2Csnippet&channelId=UCoSG43KFjTe0trsteSQ46Ng&maxResults=50&type=video&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&alt=json&pageToken=CJYBEAA
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAC/92dSY7rSHqA932KqOpyF+BOZZGixuxFQ/M8U6NhCCEyJDLFKTlISbUL8A288ao3
        9t4X8Hn6AvYRHBGUMiOHp3qtDBmEgETVexKHPxmM7/3z/5ffAfDjVrfUHx/Aj6Ed+MEK/d5D0FW0
        tu75Q+Q5tuWhH[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/search?part=id%2Csnippet&channelId=UCoSG43KFjTe0trsteSQ46Ng&maxResults=50&type=video&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&alt=json&pageToken=CMgBEAA
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAC/92d23LiSJqA7/spsqtrpnu2jUsSZ8/FBGdkEGAQJ29sOISUCIGkFDqA8WxHzDvs
        1T7CPse+yTzJZqbATtuU220nE1oiKipsSUi/9ZNf/Of8+w8AfFlZrvHlCnzZoSiMZvCnAGq+vmhb
        QdiHgYfcAH65I[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/search?part=id%2Csnippet&channelId=UCoSG43KFjTe0trsteSQ46Ng&maxResults=50&type=video&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&alt=json&pageToken=CPoBEAA
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAC/92d6XLqSJaA//dTZFdXd81EmHvFDp4fd9jBrGYxxhMTDiElQiApZS0I0VMPNM8x
        LzZ5UmCnbS7lsZMKDREdfUESqWOl8quz5z//gtAva91Sf7lGv4TE9/w5/puLZUdZdnTXG2LXJpaL
        f7mC67Ana3Cd3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/search?part=id%2Csnippet&channelId=UCoSG43KFjTe0trsteSQ46Ng&maxResults=50&type=video&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&alt=json&pageToken=CKwCEAA
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAC/92d2XLiyrqg7/dT5F5r9V6no02VJMTkc1EhZgyYSYDtjg6HkBIQaLIGpnPWU5zb
        frp+ks4/BXbaUKwKOzmhIKKiykZS6kep/Oqf8z/+gdBvS9MxfrtFv23dKIwm+PcAa74+b5lB2MeB
        5zoB/u0GzsOhN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/search?part=id%2Csnippet&channelId=UCoSG43KFjTe0trsteSQ46Ng&maxResults=50&type=video&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&alt=json&pageToken=CN4CEAA
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAC/92dWZPixpaA3++vyGl77JmJplsL+31wiH1fxVYzE4SQEhBoQwuguuH/PpkpKLKq
        aNy3KrmjwGG7uyQhTimVX5z9/ONvAHzZ6pb2JQ++hHbgBwv4iwcVV123dM8fQM+xLQ9++Yqvg76y
        wtcNg0yjolSUT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/search?part=id%2Csnippet&channelId=UCoSG43KFjTe0trsteSQ46Ng&maxResults=50&type=video&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&alt=json&pageToken=CJADEAA
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAC/92d2W7jRrqA7/MUdTpBGjixHJLafS4C7fu+azAwKLEklkSyKC6SpZkA8xBzc15v
        nuRUFSW7bKuVHrmcwxHQ6LTFRb9ZrC///v/tBwC+rJGlfXkAX/bY9/wZ/NGFqjPX68j1utC1seXC
        L3f0POipS3qet[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/search?part=id%2Csnippet&channelId=UCoSG43KFjTe0trsteSQ46Ng&maxResults=50&type=video&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&alt=json&pageToken=CMIDEAA
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAC/+WdWY7jSHqA3/sUMdXl6R50qYqbtvRDQ/u+pNaUPEaCIkMkS9ySi5TUTANzgzFg
        v/jJJzBgwC8+T1/APoIjgpIysqTSVKdCBiEDjepMiSL/jF/x4d/jT98B8G5l2Oq7O/AucsIgXMDv
        fSh7it42/GAAf[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/search?part=id%2Csnippet&channelId=UCoSG43KFjTe0trsteSQ46Ng&maxResults=50&type=video&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&alt=json&pageToken=CPQDEAA
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAC/92YbW/iOBDH3++nmOOkuzeFEp7aci9OFCibUigtVN1yOq2cxBCXxA62A01X/e43
        DrSXbh+0aqmEKrUQ7PH4H4/904x/fAHIzRj3cnXIJSLWsUN/V5RI1z9hSp9TFQmuaG7H2FFNpsau
        MibH8+6JajVFV[...]
