interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/customsearch/v1?q=Timothy+Sykes+website&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&cx=05ca554a39da44f32
  response:
    body:
      string: "{\n  \"kind\": \"customsearch#search\",\n  \"url\": {\n    \"type\":
        \"application/json\",\n    \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json\"\n
        \ },\n  \"queries\": {\n    \"request\": [\n      {\n        \"title\": \"Google
        Custom Search - Timothy Sykes website\",\n        \"totalResults\": \"1620000\",\n
        \       \"searchTerms\": \"Timothy Sykes website\",\n        \"count\": 10,\n
        \       \"startIndex\": 1,\n        \"inputEncoding\": \"utf8\",\n        \"outputEncoding\":
        \"utf8\",\n        \"safe\": \"off\",\n        \"cx\": \"05ca554a39da44f32\"\n
        \     }\n    ],\n    \"nextPage\": [\n      {\n        \"title\": \"Google
        Custom Search - Timothy Sykes website\",\n        \"totalResults\": \"1620000\",\n
        \       \"searchTerms\": \"Timothy Sykes website\",\n        \"count\": 10,\n
        \       \"startIndex\": 11,\n        \"inputEncoding\": \"utf8\",\n        \"outputEncoding\":
        \"utf8\",\n        \"safe\": \"off\",\n        \"cx\": \"05ca554a39da44f32\"\n
        \     }\n    ]\n  },\n  \"context\": {\n    \"title\": \"Trader research 2\"\n
        \ },\n  \"searchInformation\": {\n    \"searchTime\": 0.153124,\n    \"formattedSearchTime\":
        \"0.15\",\n    \"totalResults\": \"1620000\",\n    \"formattedTotalResults\":
        \"1,620,000\"\n  },\n  \"items\": [\n    {\n      \"kind\": \"customsearch#result\",\n
        \     \"title\": \"Timothy Sykes - Millionaire Penny Stock Trader\",\n      \"htmlTitle\":
        \"\\u003cb\\u003eTimothy Sykes\\u003c/b\\u003e - Millionaire Penny Stock Trader\",\n
        \     \"link\": \"https://www.timothysykes.com/\",\n      \"displayLink\":
        \"www.timothysykes.com\",\n      \"snippet\": \"Timothy Sykes is a millionaire
        penny stock trader and entrepreneur. He is best known for earning $1.65 million
        by day trading while attending Tulane\_...\",\n      \"htmlSnippet\": \"\\u003cb\\u003eTimothy
        Sykes\\u003c/b\\u003e is a millionaire penny stock trader and entrepreneur.
        He is best known for earning $1.65 million by day trading while attending
        Tulane&nbsp;...\",\n      \"formattedUrl\": \"https://www.timothysykes.com/\",\n
        \     \"htmlFormattedUrl\": \"https://www.\\u003cb\\u003etimothysykes\\u003c/b\\u003e.com/\",\n
        \     \"pagemap\": {\n        \"metatags\": [\n          {\n            \"msapplication-tilecolor\":
        \"#DA532C\",\n            \"og:image\": \"https://content.timothysykes.com/wp-content/uploads/2019/06/Conclusion-How-to-Read-Stock-Charts.jpg\",\n
        \           \"theme-color\": \"#FFFFFF\",\n            \"og:type\": \"article\",\n
        \           \"twitter:card\": \"summary_large_image\",\n            \"og:site_name\":
        \"Timothy Sykes\",\n            \"og:title\": \"Timothy Sykes : Millionaire
        Penny Stock Trader\",\n            \"og:description\": \"Timothy Sykes is
        a millionaire penny stock trader and entrepreneur. \\nHe is best known for
        earning $1.65 million by day trading while attending Tulane University.\",\n
        \           \"trustpilot-title\": \"Trustpilot Reviews - Timothy Sykes\",\n
        \           \"trustpilot-description\": \"Read reviews from our satisfied
        customers on Trustpilot.\",\n            \"twitter:site\": \"@timothysykes\",\n
        \           \"article:modified_time\": \"2022-04-18T07:17:16+00:00\",\n            \"viewport\":
        \"width=device-width, initial-scale=1\",\n            \"og:locale\": \"en_US\",\n
        \           \"og:url\": \"https://www.timothysykes.com/\"\n          }\n        ],\n
        \       \"cse_image\": [\n          {\n            \"src\": \"https://content.timothysykes.com/wp-content/uploads/2019/06/Conclusion-How-to-Read-Stock-Charts.jpg\"\n
        \         }\n        ]\n      }\n    },\n    {\n      \"kind\": \"customsearch#result\",\n
        \     \"title\": \"Timothy Sykes (@timothysykes) / X\",\n      \"htmlTitle\":
        \"\\u003cb\\u003eTimothy Sykes\\u003c/b\\u003e (@\\u003cb\\u003etimothysykes\\u003c/b\\u003e)
        / X\",\n      \"link\": \"https://twitter.com/timothysykes?lang=en\",\n      \"displayLink\":
        \"twitter.com\",\n      \"snippet\": \"I've turned $12k into $7.7 million
        trading stocks from 134 countries/building 120 schools, go apply at https://t.co/ZHoCqK0up1
        to be my dedicated student!\",\n      \"htmlSnippet\": \"I&#39;ve turned $12k
        into $7.7 million trading stocks from 134 countries/building 120 schools,
        go apply at https://t.co/ZHoCqK0up1 to be my dedicated student!\",\n      \"formattedUrl\":
        \"https://twitter.com/timothysykes?lang=en\",\n      \"htmlFormattedUrl\":
        \"https://twitter.com/\\u003cb\\u003etimothysykes\\u003c/b\\u003e?lang=en\",\n
        \     \"pagemap\": {\n        \"cse_thumbnail\": [\n          {\n            \"src\":
        \"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIO13Vhuny5z7tCnsscmyjDDJZIuGTZK144lB7J55e6Ba8Obfi26uZo-g&s\",\n
        \           \"width\": \"200\",\n            \"height\": \"200\"\n          }\n
        \       ],\n        \"imageobject\": [\n          {\n            \"contenturl\":
        \"https://pbs.twimg.com/media/GVJW9a3WEAA7QQ9.png\",\n            \"width\":
        \"1473\",\n            \"caption\": \"Image\",\n            \"thumbnailurl\":
        \"https://pbs.twimg.com/media/GVJW9a3WEAA7QQ9?format=jpg&name=thumb\"\n          },\n
        \         {\n            \"contenturl\": \"https://pbs.twimg.com/media/GVICXFvaEAQLPrf.jpg\",\n
        \           \"width\": \"1920\",\n            \"caption\": \"Image\",\n            \"thumbnailurl\":
        \"https://pbs.twimg.com/media/GVICXFvaEAQLPrf?format=jpg&name=thumb\"\n          },\n
        \         {\n            \"contenturl\": \"https://pbs.twimg.com/media/GVHvOFBaEAIC6W0.jpg[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/customsearch/v1?q=Timothy+Sykes+facebook&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&cx=05ca554a39da44f32
  response:
    body:
      string: "{\n  \"kind\": \"customsearch#search\",\n  \"url\": {\n    \"type\":
        \"application/json\",\n    \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/customsearch/v1?q=Timothy+Sykes+twitter&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&cx=05ca554a39da44f32
  response:
    body:
      string: "{\n  \"kind\": \"customsearch#search\",\n  \"url\": {\n    \"type\":
        \"application/json\",\n    \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filte[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/customsearch/v1?q=Timothy+Sykes+youtube&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&cx=05ca554a39da44f32
  response:
    body:
      string: "{\n  \"kind\": \"customsearch#search\",\n  \"url\": {\n    \"type\":
        \"application/json\",\n    \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filte[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/customsearch/v1?q=Timothy+Sykes+linkedin&key=AIzaSyDfJMbk8UalElj9dM0uXScN6HZGbcaoIwA&cx=05ca554a39da44f32
  response:
    body:
      string: "{\n  \"kind\": \"customsearch#search\",\n  \"url\": {\n    \"type\":
        \"application/json\",\n    \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filt[...]
